/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

model-viewer {
  background-color: #eee;
  overflow-x: hidden;
  width: 100%;
  height: 500px;
}

#ar-button {
  background-image: url(assets/img/ic_view_in_ar_new_googblue_48dp.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 132px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
}

#ar-button:active {
  background-color: #e8eaed;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 175px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

model-viewer > #ar-failure {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 175px;
  display: none;
}

model-viewer[ar-tracking="not-tracking"] > #ar-failure {
  display: block;
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  bottom: 16px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
}

.slide.selected {
  border: 2px solid #4285f4;
}

.slide:focus {
  outline: none;
}

.slide:focus-visible {
  outline: 1px solid #4285f4;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", "Inter", sans-serif !important;
}

body nav .navbar-brand h5 {
  font-weight: 700 !important;
  size: 24px !important;
  line-height: 150%;
}

body nav .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: white !important;
}

body .header {
  background: radial-gradient(
    100% 100% at 0% 0%,
    #114e4e 0%,
    #052d2d 59.9%,
    #041111 89.53%,
    #000909 100%
  );
  min-height: 100vh;
}

body .tag-line .headline {
  font-size: 45px !important;
  line-height: 125%;
  font-weight: 600;
  margin-bottom: 30px;
}

body .btn-started {
  margin-top: 80px;
}

body .btn-started button {
  font-size: 24px;
  font-weight: 600;
  color: #082d28;
}

body .cl-light {
  color: #eeeeee;
}

body .cl-light-grey-2 {
  color: #90bcb7;
}

body .place .img-place-header {
  width: 100% !important;
}

body .scrolling-wrapper {
  overflow-x: auto;
}

body .section::-webkit-scrollbar {
  height: 0 !important;
}

body .section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body .section::-webkit-scrollbar-thumb {
  background-color: #05BB2D;
  border-radius: 100px;
}

body .gallery {
  padding: 10px 0;
}

body .gallery .card-hotel-carousel {
  width: 100%;
  padding: 0px 10px 40px;
}

body .gallery .card-hotel-carousel .image-placeholder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

body .gallery .card-hotel-carousel .bottom-text .price-content {
  color: #080E09;
  font-size: 16px;
}

body .gallery .card-hotel-carousel .bottom-text .price-content span {
  font-weight: 400;
}

body .gallery .card-hotel-carousel .bottom-text .price-content span.price {
  font-weight: 700;
}

body .gallery .card-hotel-carousel .bottom-text .rating {
  font-weight: 700;
  font-size: 16px;
  color: #FF9900;
}

body .gallery .card-hotel-carousel .bottom-text .rating img {
  margin-top: -1px;
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  body .tag-line {
    padding-top: 60px;
  }

  body .tag-line .headline {
    font-size: 68px !important;
    line-height: 125%;
    font-weight: 600;
    margin-bottom: auto;
  }

  body .tag-line p {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
  }

  body .btn-started {
    margin-top: 90px !important;
  }

  body .image-content .img-fluid {
    height: 144.953px;
  }

  body .gallery .card-hotel-carousel {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1000px) {

  body .tag-line {
    max-width: 70%;
  }

  body .tag-line p {
    width: 85%;
  }
}
